*::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    margin-bottom: 20%;
    margin-top: 5%;
    text-align: center;
    justify-content:space-around;


}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
   background-color: dimgrey;
   font-family: Arial, Helvetica, sans-serif;
}



.navigation {
    display: flex;
    width: 500px;
    max-width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
    align-items: center;
}

.navigation-right {
   float:right;
}

.score {
  margin-right: 50%;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
}

.q-btns {
 display: grid;
 padding: 10px;
 gap: 10px;
 margin: 10px

}

.btn {
    background-color: cornflowerblue;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 15px;
}

.btn:hover {
    background-color: rgb(86, 123, 193);
    cursor: pointer;
}

.btn.correct {
    background-color: aquamarine;
    color: black;
}

.btn.wrong {
    background-color: crimson;
}

.start-btn, .next-btn {
    font-size: 24px;
    font-weight: bold;
    
}

.start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hide {
    display: none;
}